In [1]:
import os
import pandas as pd

In [2]:
os.listdir()

['unificando.ipynb', 'analise.ipynb', '.ipynb_checkpoints', 'leiame.txt']

In [3]:
os.getcwd()

'/home/dss/Documentos/Vancouver/auxiliares'

In [4]:
path = os.path.join(os.getcwd(), 'data/individualizados')
path

'/home/dss/Documentos/Vancouver/auxiliares/data/individualizados'

In [5]:
documentos = os.listdir(path)
documentos

FileNotFoundError: [Errno 2] No such file or directory: '/home/dss/Documentos/Vancouver/auxiliares/data/individualizados'

In [6]:
docs = [doc for doc in documentos if 'crime' in doc]
docs

NameError: name 'documentos' is not defined

In [10]:
data = []
for doc in docs:
    data.append(pd.read_csv(path + '/' + doc))

In [21]:
df = pd.concat(data, axis=0, ignore_index=True)
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Other Theft,2014,2,9,0,45,10XX GRANVILLE ST,Central Business District,491046.4189,5.458496e+06
1,Other Theft,2014,2,19,23,59,10XX GRANVILLE ST,Central Business District,491046.4189,5.458496e+06
2,Other Theft,2014,2,22,1,0,10XX GRANVILLE ST,Central Business District,491046.4189,5.458496e+06
3,Other Theft,2014,3,22,0,43,10XX GRANVILLE ST,Central Business District,491046.4189,5.458496e+06
4,Other Theft,2014,6,8,1,0,10XX GRANVILLE ST,Central Business District,491046.4189,5.458496e+06

In [22]:
df.sort_values(by=['YEAR'], inplace=True)
df = df.reset_index()
df.drop(['index'], axis = 1, inplace=True)
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2012,9,28,7,0,X NK_LOC ST,Strathcona,492757.4868,5.458792e+06
1,Break and Enter Commercial,2012,5,9,20,0,6XX ABBOTT ST,Central Business District,492167.2364,5.458548e+06
2,Break and Enter Commercial,2012,2,14,3,33,6XX ABBOTT ST,Central Business District,492167.1811,5.458542e+06
3,Break and Enter Commercial,2012,10,23,3,15,6XX ABBOTT ST,Central Business District,492166.4427,5.458455e+06
4,Break and Enter Commercial,2012,9,24,10,0,6XX ABBOTT ST,Central Business District,492166.4427,5.458455e+06

In [23]:
df.tail()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
434393,Break and Enter Commercial,2022,8,19,2,33,5XX W BROADWAY AVE,Fairview,491585.5546,5.456719e+06
434394,Break and Enter Commercial,2022,8,24,9,54,5XX W BROADWAY AVE,Fairview,491622.0170,5.456727e+06
434395,Break and Enter Commercial,2022,11,7,0,0,5XX W BROADWAY AVE,Fairview,491622.0170,5.456727e+06
434396,Break and Enter Commercial,2022,4,14,7,24,5XX W 28TH AVE,South Cambie,491533.1895,5.454819e+06
434397,Mischief,2022,1,12,15,30,13XX ALBERNI ST,West End,490667.2323,5.459516e+06

In [ ]:
datetime_series = pd.to_datetime(df[['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE']].rename(columns={'YEAR': 'YEAR', 'MONTH': 'MONTH', 'DAY': 'DAY', 'HOUR': 'HOUR', 'MINUTE':'MINUTE'}))
df['datetime'] = datetime_series
df.drop(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE'], axis=1).info()

In [24]:
destino =  os.path.join(os.getcwd(), 'data')
df.to_csv(destino + '/dataset.csv')